*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	--color-text: #fff;
	--color-bg: #a98b9a;
	--color-link: #fff;
	--color-link-hover: #fff;
	--padding-page: 2rem;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: "forma-djr-micro",-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
	overflow-x: hidden;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	z-index: 1000;
	position: fixed;
	width: 100%;
	padding: var(--padding-page);
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 'title' 'prev' 'sponsor';
	grid-gap: 0.5rem;
	justify-items: start;
	align-self: start;
	justify-self: start;
	pointer-events: none;
	align-items: center;
}

.loading .frame {
	opacity: 0;
}

body #cdawrap {
    justify-self: start;
}

.frame a {
	pointer-events: auto;
}

.frame a:not(.frame__title-back) {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.frame a:not(.frame__title-back)::before {
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 90%;
	transition: transform 0.3s;
	transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before {
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

.frame__title {
	grid-area: title;
	display: flex;
}

.frame__title-main {
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
}

.frame__title-back {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.15rem;
}

.frame__title-back span {
	display: none;
}

.frame__title-back svg {
	fill: currentColor;
}

.frame__prev {
	grid-area: prev;
}

.deco {
	position: fixed;
	stroke: #fff;
	stroke-width: 1px;
	top: var(--padding-page);
	right: var(--padding-page);
	z-index: 900;
	pointer-events: none;
	fill: none;
	height: 150px;
	width: 150px;
}

.content {
	display: grid;
	grid-template-rows: 100vh 1fr auto;
	grid-template-columns: 100%;
	width: 100vw;
	--imgRatio: 1344 / 896;
	height: calc(var(--imgRatio) * 100vw);
	padding: 0 var(--padding-page);
	position: relative;
}

.canvas-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0;
}

.no-js .canvas-wrap {
	opacity: 1;
}

.content__inner {
	position: relative;
	justify-self: end;
	align-self: end;
	padding-bottom: var(--padding-page);
}

h2 {
	position: relative;
	font-size: 10vw;
	font-weight: 400;
	text-align: right;
	margin: 0;
	line-height: 0.8;
}

p {
	position: relative;
	grid-area: content;
	margin: 1rem 0 0 auto;
	text-align: right;
	max-width: 400px;
	justify-self: end;
}

h2 span:nth-child(even) {
	font-size: 10.5vw;
	font-family: "lores-9-plus-wide", sans-serif;
}

@media screen and (min-width: 53em) {
	.frame {
		height: 100vh;
		grid-template-columns: auto auto 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 'title prev ...' 'sponsor sponsor ...';
		align-content: space-between;
		justify-items: start;
		grid-gap: 2rem;
	}
	.frame__demos {
		justify-self: end;
	}
}
